
<div class="container">
<h2 class="text-center">World War II and the Manhattan Project
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
             In 1939, a group of Hungarian scientists that included émigré physicist Leó Szilárd attempted to alert Washington, D.C. to ongoing Nazi atomic bomb research. The group's warnings were discounted. Einstein and Szilárd, along with other refugees such as Edward Teller and Eugene Wigner, "regarded it as their responsibility to alert Americans to the possibility that German scientists might win the race to build an atomic bomb, and to warn that Hitler would be more than willing to resort to such a weapon." To make certain the US was aware of the danger, in July 1939, a few months before the beginning of World War II in Europe, Szilárd and Wigner visited Einstein to explain the possibility of atomic bombs, which Einstein, a pacifist, said he had never considered. He was asked to lend his support by writing a letter, with Szilárd, to President Franklin D. Roosevelt, recommending the US pay attention and engage in its own nuclear weapons research.

The letter is believed to be "arguably the key stimulus for the U.S. adoption of serious investigations into nuclear weapons on the eve of the U.S. entry into World War II". In addition to the letter, Einstein used his connections with the Belgian royal family and the Belgian queen mother to get access with a personal envoy to the White House's Oval Office. Some say that as a result of Einstein's letter and his meetings with Roosevelt, the US entered the "race" to develop the bomb, drawing on its "immense material, financial, and scientific resources" to initiate the Manhattan Project.

For Einstein, "war was a disease ... [and] he called for resistance to war." By signing the letter to Roosevelt, some argue he went against his pacifist principles. In 1954, a year before his death, Einstein said to his old friend, Linus Pauling, "I made one great mistake in my life—when I signed the letter to President Roosevelt recommending that atom bombs be made; but there was some justification—the danger that the Germans would make them ..." In 1955, Einstein and ten other intellectuals and scientists, including British philosopher Bertrand Russell, signed a manifesto highlighting the danger of nuclear weapons. In 1960 Einstein was included posthumously as a charter member of the World Academy of Art and Science (WAAS), an organization founded by distinguished scientists and intellectuals who committed themselves to the responsible and ethical advances of science, particularly in light of the development of nuclear weapons.
            </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
            
                <div class="">
                    <sub class="p-2 text-center">Facsimile of the Einstein–Szilard letter
</sub>
                     <img src="/images/960px-Einstein-Roosevelt-letter.png" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>
            </div>
        </div>
    </div>
</div>