
<div class="container">
<h2 class="text-center">Matter Waves
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <p class="text-align p-2">
Einstein discovered Louis de Broglie's work and supported his ideas, which were received skeptically at first. In another major paper from this era, Einstein observed that de Broglie waves could explain the quantization rules of Bohr and Sommerfeld. This paper would inspire Schrödinger's work of 1926.
            </p>
        </div>

    </div>
</div>