
<div class="container">
<h2 class="text-center">Popular
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <div class="p-2">
                <ol class="text-align">
                    <li>Einstein, Albert (1916). Relativity: The Special and the General Theory. Princeton University Press.</li>
                    <li>Einstein, Albert; Infeld, Leopold (1938). The Evolution of Physics. Simon and Schuster.</li>
                    <li>Einstein, Albert (1954). Ideas and Opinions. New York: Crown Publishers. <br> —————— (1995) [1954]. Ideas and Opinions. New York: Three Rivers Press. ISBN 978-0-517-88440-9.</li>
                    <li>Einstein, Albert (1979). Autobiographical Notes. Paul Arthur Schilpp (Centennial ed.). Chicago: Open Court. ISBN 978-0-87548-352-8. The chasing a light beam thought experiment is described on pages 48–51.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
