<div class="container">
<h2 class="text-center">Assistant at the Swiss Patent Office (1902–1909)</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
                Einstein graduated from the federal polytechnic school in 1900, duly certified as competent to teach mathematics and physics. His successful acquisition of Swiss citizenship in February 1901 was not followed by the usual sequel of conscription; the Swiss authorities deemed him medically unfit for military service. He found that Swiss schools too appeared to have no use for him, failing to offer him a teaching position despite the almost two years that he spent applying for one. Eventually it was with the help of Marcel Grossmann's father that he secured a post in Bern at the Swiss Patent Office, as an assistant examiner – level III.

Patent applications that landed on Einstein's desk for his evaluation included ideas for a gravel sorter and an electric typewriter. His employers were pleased enough with his work to make his position permanent in 1903, although they did not think that he should be promoted until he had "fully mastered machine technology".s It is conceivable that his labors at the patent office had a bearing on his development of his special theory of relativity. He arrived at his revolutionary ideas about space, time and light through thought experiments about the transmission of signals and the synchronization of clocks, matters which also figured in some of the inventions submitted to him for assessment.[10]

In 1902, Einstein and some friends whom he had met in Bern formed a group that held regular meetings to discuss science and philosophy. Their choice of a name for their club, the Olympia Academy, was an ironic comment upon its far from Olympian status. Sometimes they were joined by Marić, who limited her participation in their proceedings to careful listening. The thinkers whose works they reflected upon included Henri Poincaré, Ernst Mach and David Hume, all of whom significantly influenced Einstein's own subsequent ideas and beliefs.
                </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
                <div>
                    <sub class="p-2 text-center">Einstein at the Swiss patent office, 1904</sub>
                     <img src="images/Einstein_patentoffice_full_(cropped).jpg" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>

            </div>
        </div>
    </div>
</div>