<div class="container">
<h2 class="text-center">Touring South America (1925)</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <p class="text-align p-2">
             In March and April 1925, Einstein and his wife visited South America, where they spent about a week in Brazil, a week in Uruguay and a month in Argentina. Their tour was suggested by Jorge Duclout (1856–1927) and Mauricio Nirenstein (1877–1935) with the support of several Argentine scholars, including Julio Rey Pastor, Jakob Laub, and Leopoldo Lugones. and was financed primarily by the Council of the University of Buenos Aires and the Asociación Hebraica Argentina (Argentine Hebraic Association) with a smaller contribution from the Argentine-Germanic Cultural Institution.
            </p>
        </div>
    </div>
</div>