
<div class="container">
<h2 class="text-center">Photons and energy quanta
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
                In a 1905 paper, Einstein postulated that light itself consists of localized particles (quanta). Einstein's light quanta were nearly universally rejected by all physicists, including Max Planck and Niels Bohr. This idea only became universally accepted in 1919, with Robert Millikan's detailed experiments on the photoelectric effect, and with the measurement of Compton scattering.

Einstein concluded that each wave of frequency f is associated with a collection of photons with energy hf each, where h is the Planck constant. He did not say much more, because he was not sure how the particles were related to the wave. But he did suggest that this idea would explain certain experimental results, notably the photoelectric effect. Light quanta were dubbed photons by Gilbert N. Lewis in 1926.
        </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
            
                <div class="">
                    <sub class="p-2 text-center">The photoelectric effect. Incoming photons on the left strike a metal plate (bottom), and eject electrons, depicted as flying off to the right.
</sub>
                     <img src="images/Photoelectric_effect_in_a_solid_-_diagram.svg.png" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>
            </div>
        </div>
    </div>
</div>