
<div class="container">
<h2 class="text-center">Scientific
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <p class="text-align p-2">
       In 1999, a survey of the top 100 physicists voted for Einstein as the "greatest physicist ever", while a parallel survey of rank-and-file physicists gave the top spot to Isaac Newton, with Einstein second.

Physicist Lev Landau ranked physicists from 0 to 5 on a logarithmic scale of productivity and genius, with Newton and Einstein belonging in a "super league", with Newton receiving the highest ranking of 0, followed by Einstein with 0.5, while fathers of quantum mechanics such as Werner Heisenberg and Paul Dirac were ranked 1, with Landau himself a 2.

Physicist Eugene Wigner noted that while John von Neumann had the quickest and most acute mind he ever knew, it was Einstein who had the more penetrating and original mind of the two, stating that:

But Einstein's understanding was deeper than even Jancsi von Neumann's. His mind was both more penetrating and more original than von Neumann's. And that is a very remarkable statement. Einstein took an extraordinary pleasure in invention. Two of his greatest inventions are the Special and General Theories of Relativity; and for all of Jancsi's brilliance, he never produced anything so original. No modern physicist has.

The International Union of Pure and Applied Physics declared 2005 the "World Year of Physics", also known as "Einstein Year", in recognition of Einstein's "miracle year" in 1905. It was also declared the "International Year of Physics" by the United Nations.
            </p>
        </div>
    </div>
</div>