<div class="container">
<h2 class="text-center">Serving the League of Nations (1922–1932)</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
                From 1922 until 1932, with the exception of a few months in 1923 and 1924, Einstein was a member of the Geneva-based International Committee on Intellectual Cooperation of the League of Nations, a group set up by the League to encourage scientists, artists, scholars, teachers and other people engaged in the life of the mind to work more closely with their counterparts in other countries. He was appointed as a German delegate rather than as a representative of Switzerland because of the machinations of two Catholic activists, Oskar Halecki and Giuseppe Motta. By persuading Secretary General Eric Drummond to deny Einstein the place on the committee reserved for a Swiss thinker, they created an opening for Gonzague de Reynold, who used his League of Nations position as a platform from which to promote traditional Catholic doctrine. Einstein's former physics professor Hendrik Lorentz and the Polish chemist Marie Curie were also members of the committee
            </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
            
                <div class="">
                    <sub class="p-2 text-center">Einstein at a session of the International Committee on Intellectual Cooperation (League of Nations) of which he was a member from 1922 to 1932</sub>
                     <img src="/images/League_of_Nations_Commission_067.tif.jpg" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>

            </div>
        </div>
    </div>
</div>