
<div class="container">
<h2 class="text-center">Bohr versus Einstein
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
The Bohr–Einstein debates were a series of public disputes about quantum mechanics between Einstein and Niels Bohr, who were two of its founders. Their debates are remembered because of their importance to the philosophy of science. Their debates would influence later interpretations of quantum mechanics.
            </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
            
                <div class="">
                    <sub class="p-2 text-center">Einstein and Niels Bohr, 1925</sub>
                     <img src="images/Niels_Bohr_Albert_Einstein4_by_Ehrenfest_cr.jpg" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>
            </div>
        </div>
    </div>
</div>
