
<div class="container">
<h2 class="text-center">Zero-point energy
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <p class="text-align p-2">
In a series of works completed from 1911 to 1913, Planck reformulated his 1900 quantum theory and introduced the idea of zero-point energy in his "second quantum theory". Soon, this idea attracted the attention of Einstein and his assistant Otto Stern. Assuming the energy of rotating diatomic molecules contains zero-point energy, they then compared the theoretical specific heat of hydrogen gas with the experimental data. The numbers matched nicely. However, after publishing the findings, they promptly withdrew their support, because they no longer had confidence in the correctness of the idea of zero-point energy.
            </p>
        </div>

    </div>
</div>