<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a href="#" class="sidebar-logo">{{
      isSidebarCollapsed ? '' : 'Einstein Archives'
    }}</a>
  </div>
  <div class="sidebar-menu">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li class="sidebar-menu-item">
          <a
            [routerLink]="item.route || null"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen}"
            (click)="toggleMenuItem(item)"
          >
            <span class="sidebar-item-text">{{ item.label }}</span>
            <i-feather
             *ngIf="item.children && !isSidebarCollapsed && !item.isOpen"
             [ngClass]="{ rotated: item.isOpen }"
             class="float-end"
             name="arrow-right"></i-feather>

                <i-feather
             *ngIf="item.children && !isSidebarCollapsed && item.isOpen"
             [ngClass]="{ rotated: item.isOpen }"
             class="float-end"
             name="arrow-down"></i-feather>

          </a>

          <ul
            *ngIf="item.children && !isSidebarCollapsed && item.isOpen"
            class="sidebar-submenu"
          >
            <li *ngFor="let child of item.children">
              <a
              [routerLink]="child.route || null"
              routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }"
              class="sidebar-item sidebar-subitem"
               [ngClass]="{ 'has-children': child.children, 'menu-item-active': child.isOpen }"
  (click)="toggleMenuItem(child)">
                <span class="sidebar-item-text">{{ child.label }}</span>
                 <i-feather
             *ngIf="child.children && !isSidebarCollapsed && !child.isOpen"
             [ngClass]="{ rotated: item.isOpen }"
             class="float-end"
             name="arrow-right"></i-feather>

                <i-feather
             *ngIf="child.children && !isSidebarCollapsed && child.isOpen"
             [ngClass]="{ rotated: child.isOpen }"
             class="float-end"
             name="arrow-down"></i-feather>
              </a>
 <ul
  *ngIf="child.children && !isSidebarCollapsed && child.isOpen"
  class="sidebar-submenu"
>
  <li *ngFor="let grandchild of child.children">
    <a
      
      [routerLink]="grandchild.route || null"
      routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
      class="sidebar-item sidebar-subitem ml-5"
      [ngClass]="{ 'has-children': grandchild.children, 'menu-item-active': grandchild.isOpen }"
      (click)="toggleMenuItem(grandchild)"
    >
      <span class="sidebar-item-text">{{ grandchild.label }}</span>
      
      <i-feather
        *ngIf="grandchild.children && !isSidebarCollapsed && grandchild.isOpen"
        class="float-end"
        name="arrow-right"
      ></i-feather>

      <i-feather
        *ngIf="grandchild.children && !isSidebarCollapsed && grandchild.isOpen"
        class="float-end"
        name="arrow-down"
      ></i-feather>
    </a>
  </li>
</ul>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
