/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.text-align {
	text-align: justify;
	text-justify: inter-word;
	hyphens: auto;
	line-height: 1.65;
}

@media (max-width: 575px) {
	.text-align {
		text-align: left;
	}
}
