
<div class="container">
<h2 class="text-center">Political
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <div class="p-2">
                <ol class="text-align">
                    <li>Einstein, Albert; et al. (4 December 1948). "To the editors of The New York Times". The New York Times. Archived from the original on 17 December 2007. Retrieved 25 May 2006.</li>
                    <li>Einstein, Albert (May 1949). In Sweezy, Paul; Huberman, Leo (eds.), "Why Socialism?". Monthly Review. 1 (1): 9–15. doi:10.14452/MR-001-01-1949-05_3.</li>
                    <li>—————— (May 2009) [May 1949]. "Why Socialism? (Reprise)". Monthly Review. New York: Monthly Review Foundation. Archived from the original on 11 January 2006. Retrieved 16 January 2006 – via MonthlyReview.org.</li>
                    <li>Einstein, Albert (September 1960). Foreword to <em>Gandhi Wields the Weapon of Moral Power: Three Case Histories</em>. Introduction by Bharatan Kumarappa. Ahmedabad: Navajivan Publishing House. pp. v–vi. OCLC 2325889. Foreword originally written in April 1953.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
