
<div class="container">
<h2 class="text-center">Further Readings 
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12">
            <div class="p-2">
                <ol class="text-align">
                    <li>Einstein, Albert; et al. (4 December 1948). "To the editors of The New York Times". The New York Times. Archived from the original on 17 December 2007. Retrieved 25 May 2006.</li>
                    <li>Einstein, Albert (May 1949). In Sweezy, Paul; Huberman, Leo (eds.), "Why Socialism?". Monthly Review. 1 (1): 9–15. doi:10.14452/MR-001-01-1949-05_3.</li>
                    <li>—————— (May 2009) [May 1949]. "Why Socialism? (Reprise)". Monthly Review. New York: Monthly Review Foundation. Archived from the original on 11 January 2006. Retrieved 16 January 2006 – via MonthlyReview.org.</li>
                    <li>Einstein, Albert (September 1960). Foreword to <em>Gandhi Wields the Weapon of Moral Power: Three Case Histories</em>. Introduction by Bharatan Kumarappa. Ahmedabad: Navajivan Publishing House. pp. v–vi. OCLC 2325889. Foreword originally written in April 1953.</li>
                    <li>Brian, Denis (1996). <em>Einstein: A Life</em>. New York: John Wiley. ISBN 978-0471114598.</li>
                    <li>Brian, Denis (2005). <em>The Unexpected Einstein: The Real Man Behind the Icon</em>. New York: John Wiley. ISBN 978-0471718406.</li>
                    <li>Gimbel, Steven (2015). <em>Einstein: His Space and Times</em>. Yale University Press. ISBN 978-0300196719.</li>
                    <li>Gimbel, Steven (2012). <em>Einstein's Jewish Science: Physics at the Intersection of Politics and Religion</em>. Johns Hopkins University Press. ISBN 978-1421405544.</li>
                    <li>Lindemann, Frederick Alexander (1922). "Einstein, Albert". In Chisholm, Hugh (ed.). <em>Encyclopædia Britannica</em> (12th ed.). London & New York: The Encyclopædia Britannica Company.</li>
                    <li>Moring, Gary (2004). <em>The complete idiot's guide to understanding Einstein</em> (1st ed.). Indianapolis, Indiana: Alpha Books (Macmillan). ISBN 978-0-02-863180-6.</li>
                    <li>Oppenheimer, J. Robert (1971). "On Albert Einstein". <em>Science and Synthesis: An International Colloquium Organized by UNESCO on the Tenth Anniversary of the Death of Albert Einstein and Teilhard de Chardin</em>. Lecture delivered at the UNESCO House in Paris on 13 December 1965: 8–12, 208. Also published as "On Albert Einstein by Robert Oppenheimer". <em>The New York Review of Books</em>, 17 March 1966.</li>
                    <li>Parker, Barry (2000). <em>Einstein's Brainchild: Relativity Made Relatively Easy!</em> Illustrated by Lori Scoffield-Beer. Prometheus Books. ISBN 978-1-59102-522-1.</li>
                    <li>Rogers, Donald W. (2005). <em>Einstein's "Other" Theory: The Planck-Bose-Einstein Theory of Heat Capacity</em>. Princeton University Press. ISBN 978-0-691-11826-0.</li>
                    <li>Schweber, Silvan S. (2008). <em>Einstein and Oppenheimer: The Meaning of Genius</em>. Harvard University Press. ISBN 978-0-674-02828-9.</li>
                    <li>Stone, A. Douglas (2013). <em>Einstein and the Quantum</em>. Princeton University Press. ISBN 978-0-691-13968-5.</li>
                    <li>Weinberg, Steven (2005). "Einstein's mistakes". <em>Physics Today</em>. 58 (11): 31–35. Bibcode:2005PhT....58k..31W. doi:10.1063/1.2155755.</li>
                </ol>
            </div>
        </div>
        </div>
    </div>
