
<div class="container">
<h2 class="text-center">General relativity and the equivalence principle
</h2>
    <div class="row d-flex flex-column-reverse flex-xl-row">
        <div class="col-12 col-xl-8">
            <p class="text-align p-2">
          General relativity (GR) is a theory of gravitation that was developed by Einstein between 1907 and 1915. According to it, the observed gravitational attraction between masses results from the warping of spacetime by those masses. General relativity has developed into an essential tool in modern astrophysics; it provides the foundation for the current understanding of black holes, regions of space where gravitational attraction is so strong that not even light can escape.

As Einstein later said, the reason for the development of general relativity was that the preference of inertial motions within special relativity was unsatisfactory, while a theory which from the outset prefers no state of motion (even accelerated ones) should appear more satisfactory. Consequently, in 1907 he published an article on acceleration under special relativity. In that article titled "On the Relativity Principle and the Conclusions Drawn from It", he argued that free fall is really inertial motion, and that for a free-falling observer the rules of special relativity must apply. This argument is called the equivalence principle. In the same article, Einstein also predicted the phenomena of gravitational time dilation, gravitational redshift and gravitational lensing.

In 1911, Einstein published another article "On the Influence of Gravitation on the Propagation of Light" expanding on the 1907 article, in which he estimated the amount of deflection of light by massive bodies. Thus, the theoretical prediction of general relativity could for the first time be tested experimentally.
 </p>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-2 d-flex flex-column justify-content-center">
            
                <div class="">
                    <sub class="p-2 text-center">Eddington's photo of a solar eclipse
</sub>
                     <img src="images/1919_eclipse_positive.jpg" class="rounded img-thumbnail" alt="Einstein portrait">
                </div>
            </div>
        </div>
    </div>
</div>